<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Austin Goebel</title>
  </head>
  <body>
    <div class="home">
      <div class="welcomeText">
        <h1>HOME</h1>
      </div>
    </div>
    <div class="about">
      <header>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Portfolio</li>
          <li>Interests</li>
          <li>Contact</li>
        </ul>
      </header>
      <h1>ABOUT</h1>
      <div class="aboutFlexbox">
        <div class="picture">
          <img src="IMG_8294.JPEG" alt="" />
        </div>
        <div class="aboutBio">
          <div class="skills">
            <h1>Skills</h1>
          </div>
          <div class="tools">
            <h1>Tools</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio">
      <h1>PORTFOLIO</h1>
      <div class="projectItem">
        <div class="projectImage">
          <img src="haptikLogo.png" alt="" />
        </div>
        <div class="projectDescription">
          <h2>Haptik</h2>
          <h3>Backend Development</h3>
          <h4>September - December 2019</h4>
          <p>
            Haptik is a mobile application that helps medical professionals
            conduct resuscitation simulations for training healthcare workers
            and conducting medical research. This project is planned on being
            introduced to medical schools across North America.
          </p>
          <br />
          <p>
            This application was built on a Django backend with Postgres
            database with both React and React Native being used in the front
            end for the desktop and mobile viewing experiences respectively.
          </p>
          <br />

          <p>
            This was my first experience working on a real industry project and
            really opened my eyes to how software development works in the real
            world. Self-organizing teams, meeting milestones, client
            communication, and all aspects of Agile principles allowed us to
            complete this project on time and surpass client expectations.
          </p>
          <!-- <ul>
            <li>
              Created web application with Django and React for educators to
              evaluate students in medical simulations and scenarios
            </li>
            <li>
              Tool will be used to educate medical students at the University of
              Alberta and other medical schools across North America
            </li>
            <li>
              All data recorded will be used for research purposes to improve
              resuscitation methods and techniques in the future
            </li>
          </ul> -->
        </div>
        <!-- <div class="projectVideo">
          <video controls>
            <source src="Haptik Short Screencast Demo.mp4" type="video/mp4" />
            Your browser doesn't support this video tag
          </video>
        </div> -->
      </div>

      <div class="projectItem">
        <div class="projectImage">
          <img src="squawkLogo3.png" alt="" />
        </div>
        <div class="projectDescription">
          <h2>Squawk</h2>
          <h3>Backend Development</h3>
          <h4>January - April 2020</h4>
          <p>
            Squawk is a decentralized, node-based social media platform (similar
            to
            <a href="https://diasporafoundation.org/" target="_blank"
              >diaspora*</a
            >) in which users can store all personal data on privately-run
            servers allowing them to maintain data sovereignty while interacting
            with others online.
          </p>
          <br />
          <p>
            This was my second time using Django so I stepped right back into
            the backend development role and designed the APIs as well as
            Postgres database model. As this type of decentralized social media
            network required significant teamwork between groups, I collaborated
            heavily with other teams in the class to coordinate a universal API
            between groups that allowed us to share data freely between nodes.
          </p>
          <br />
          <p>
            This type of software project really pushed my software engineering
            and communication skills as it required maintaining internal data
            integrity, anticipating changes, and providing consistency to other
            nodes in the network.
          </p>
        </div>
      </div>

      <div class="projectItem">
        <div class="projectImage">
          <img src="hadaLogo.png" alt="" />
        </div>
        <div class="projectDescription">
          <h2>HADA</h2>
          <h3>Frontend Development</h3>
          <h4>September - December 2018</h4>
          <p>
            HADA is an Android app designed around tracking medical ailments
            over time and seamlessly sharing information between patients and
            doctors.
          </p>
          <br />
          <p>
            This was my first time using Java to create an application. The
            Android Studio IDE was a great all-in-one tool that allowed us to
            integrate with Git, create interfaces, and test with the built-in
            emulator.
          </p>
          <br />
          <p>
            This was also my first time working in a team-based software
            engineering setting and it was a great learning experience. Working
            with Git, assigning roles, tracking issues, and team communication
            were the most important lessons learned with this project.
          </p>
        </div>
      </div>
    </div>
    <div class="interests">
      <h1>INTERESTS</h1>
    </div>
    <div class="contact">
      <div class="contactInfo">
        <h1>CONTACT</h1>
        <hr />
        <p>Have a question or want to work together?</p>
        <form action="">
          <input
            type="text"
            name="name"
            id=""
            placeholder="Name"
            size="30"
          /><br />
          <input
            type="email"
            name="email"
            placeholder="Email"
            size="30"
          /><br />
          <textarea name="message" rows="10" placeholder="Message"></textarea
          ><br />
          <button type="button">Submit</button>
          <br />
        </form>
      </div>
    </div>
  </body>
</html>
