<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="nav">
      <ul>
        <li>Home</li>
        <li>Projects</li>
        <li>Expertise</li>
        <li>Education</li>
        <li>Interests</li>
      </ul>
    </header>
    <div class="flex">
      <div class="container">
        <img src="IMG_0973 2.JPG" />
        <div class="title-block">
          <h1>Austin Goebel</h1>
          <hr />
          <h2>Developer | Data Science | UI Design</h2>
        </div>
      </div>
      <div class="container">
        <div class="projects">
          <h2>Projects</h2>
          <h3>Resuscitation Simulator</h3>
          <ul>
            <li>
              Created web application with Django and React for educators to
              evaluate students in medical simulations and scenarios
            </li>
            <li>
              Tool will be used to educate medical students at the University of
              Alberta and other medical schools across North America
            </li>
            <li>
              All data recorded will be used for research purposes to improve
              resuscitation methods and techniques in the future
            </li>
          </ul>

          <h3>HADA Health Tracker</h3>
          <ul>
            <li>
              Android app used to track illnesses and provide patient data to
              medical practitioners
            </li>
            <li>
              Captured images and notes to record progress through recovery
              stages
            </li>
            <li>Used ElasticSearch to store, retrieve, and manage data</li>
          </ul>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
