body {
  background-color: #121212;
  color: white;
}

h1,
h2,
h3,
h4,
li {
  font-family: "Myriad Pro";
  font-weight: 100;
}
.flex {
  display: flex;
  flex-direction: column;
}

.flex div {
  border: 1px white solid;
  /* padding: 10px; */
}

.projectItem {
  text-align: justify;
  word-wrap: normal;
  width: 25%;
}

.projectItem h3,
h4 {
  text-align: center;
}

.projectItem li {
  margin-left: 15px;
  margin-right: 15px;
}

.projectItem img {
  box-shadow: 2px 2px 8px black;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerProjects {
  text-align: center;
}

.projectCover {
}

.projects img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  margin-top: 10px;
}

.containerCover div {
  text-align: center;
}

.containerCover img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.title-block {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 99%;
  text-shadow: 2px 2px 8px black;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
  z-index: 3;
}

.nav ul {
  border: 1px red solid;
  padding: 10px;
  text-align: center;
}

.nav li:hover {
  color: aqua;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

hr {
  border-width: 1px;
  width: 30%;
  color: white;
  box-shadow: 2px 2px 8px black;
}
